.deal-item {
	border: 2px solid var(--color-brand);
	box-sizing: border-box;
	margin: 1rem;
	padding: 1rem;
}

.deal-title {
	font-size: 1.5rem;
}

.deal-desc {
	font-size: 1rem;
	font-family: 'Poppins';
}

.deal-dates {
	font-size: 1rem;
	color: #b3b3b3;
}

.ongoing {
	background-color: #fedd0448;
}
