.gamelist-item {
	border: 2px solid var(--color-brand);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	max-width: 90vw;
}

#game-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.playlist-item-text {
	font-size: 1.5rem;
}
