section.page {
	position: absolute;
	top: 0;
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	max-height: 100vh;
}

div.title-text {
	padding: 1rem;
}

div.title-text h2 {
	font-size: 3rem;
}

div.title-text h1 {
	font-size: 5rem;
}

div.title-text p {
	font-size: 1.5rem;
	font-family: 'Poppins';
}

div.total-cps {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}

div.total-cps h2 {
	font-size: 3rem;
}

div.total-cps h1 {
	font-size: 5rem;
}

div.bottom-section .text {
	display: flex;
	justify-content: space-between;
	font-size: 2rem;
	padding: 0 2rem;
	font-family: 'Poppins';
}

div.bottom-section .text p span.blue-team {
	color: blue;
}

div.bottom-section .text p span.red-team {
	color: red;
}

div.bottom-section .meters {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	font-size: 1.75rem;
}
