@font-face {
	font-family: 'Black Ops One';
	src: url('./assets/BlackOpsOne-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins';
	src: url('./assets/Poppins-Regular.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
}

:root {
	font-family: 'Black Ops One', Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 16px;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #2d2d2d;

	display: flex;
	justify-content: center;

	--color-brand: #fedd04;

	--color-bg: #2d2d2d;
	--color-bg-dark: #000000;
	--color-bg-light: #424242;

	--color-text: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: var(--color-bg);
		--color-bg: #ffffff;
		--color-bg-dark: #9f9f9f;
		--color-bg-light: #ffffff;
	}
}

#root {
	width: 640px;
	max-width: 100vw;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	color: var(--color-brand);
}

button {
	max-width: 90vw;
	padding: 1rem;
	font-family: 'Black Ops One';
	font-size: 1.2rem;
	color: #000000;
	background-color: var(--color-brand);
	border: none;
}

button:active,
button:hover {
	filter: brightness(0.5);
	cursor: pointer;
}

button:disabled {
	filter: grayscale() brightness(0.5);
}

a {
	text-decoration: none;
}

input,
select,
textarea {
	max-width: 90vw;
	padding: 0.75rem;
	font-family: 'Poppins';
	font-size: 1rem;
	color: var(--color-text);
	background-color: var(--color-bg-light);
	border: none;
}

input[type='checkbox'] {
	height: 1.5rem;
	width: 1.5rem;
}

input:invalid {
	border: 2px solid red;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.form-label {
	color: var(--color-brand);
	font-size: 1.75rem;
}

.form-item {
	width: 400px;
	max-width: 90vw;
	display: flex;
	flex-direction: column;
}

.hidden {
	display: none !important;
}

/* Animations */
@keyframes hide {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes page-load-appear {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
	}
}

.animate-1 {
	animation: 0.1s linear hide, 0.5s ease-out 0.1s page-load-appear;
}

.animate-2 {
	animation: 0.2s linear hide, 0.5s ease-out 0.2s page-load-appear;
}

.animate-3 {
	animation: 0.3s linear hide, 0.5s ease-out 0.3s page-load-appear;
}

.animate-4 {
	animation: 0.4s linear hide, 0.5s ease-out 0.4s page-load-appear;
}

.animate-5 {
	animation: 0.5s linear hide, 0.5s ease-out 0.5s page-load-appear;
}

.animate-6 {
	animation: 0.6s linear hide, 0.5s ease-out 0.6s page-load-appear;
}

.animate-7 {
	animation: 0.7s linear hide, 0.5s ease-out 0.7s page-load-appear;
}

.animate-8 {
	animation: 0.8s linear hide, 0.5s ease-out 0.8s page-load-appear;
}

.animate-9 {
	animation: 0.9s linear hide, 0.5s ease-out 0.9s page-load-appear;
}

.animate-10 {
	animation: 1s linear hide, 0.5s ease-out 1s page-load-appear;
}

.animate-11 {
	animation: 1.1s linear hide, 0.5s ease-out 1.1s page-load-appear;
}

.pricing-reference-item-highlight:nth-of-type(2n) {
	background-color: var(--color-bg-light);
}
